{% extends "layout.html" %}

{% block content %}

    <div class="row justify-content-between">
        <div class="col-lg-6">  
            <div class="d-flex justify-content-between">
                <div>
                    <h3>Datos bodega</h3>
                </div>
                <div>
                    <a href="#" id="editarBtn" class="btn btn-outline-warning"><i class="fa fa-edit" aria-hidden="true"></i>&nbsp;Editar</a>
                    <a href="index.php" class="btn btn-outline-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Volver</a>
                    <a href="index.php?controller=bodega&action=borrar&id={{bodega.id}}" class="btn btn-outline-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Eliminar</a>
                </div>
            </div>
            <hr/>
            <div id="mensajeActualizacionOK" class="alert alert-success" role="alert" style="display:none;">
              <p>Los datos de la bodega se han actualizado correctamente.</p>
            </div>
            <div id="mensajeActualizacionMal" class="alert alert-danger" role="error" style="display:none;">
              <p>Error al intentar actualizar los datos de la bodega.</p>
            </div>

            <form id="actualizarBodegaForm" action="index.php?controller=bodega&action=actualizar" method="post">
              <input type="hidden" name="id" value="{{bodega.id}}"/>
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <input disabled type="text" name="nombre" class="form-control" id="nombre" value="{{bodega.nombre}}">
              </div>

              <div class="form-group">
                <label for="direccion">Dirección</label>
                <input disabled type="text" name="direccion" class="form-control" id="direccion" value="{{bodega.direccion}}">
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input disabled type="email" name="email" class="form-control" id="email" value="{{bodega.email}}">
              </div>
              
              <div class="form-group">
                <label for="telefono">Teléfono</label>
                <input disabled type="text" name="telefono" class="form-control" id="telefono" value="{{bodega.telefono}}">
              </div>

              <div class="form-group">
                <label for="contacto">Persona de contacto</label>
                <input disabled type="text" name="contacto" class="form-control" id="contacto" value="{{bodega.contacto}}">
              </div>

              <div class="form-group">
                <label for="fecha">Año de fundación</label>
                <input disabled type="text" name="fecha" class="form-control" id="fecha" value="{{bodega.fecha}}">
              </div>
              
              <fieldset class="form-group">
                <legend>¿Dispone de restaurante?</legend>
                <div class="form-check">
                  <label class="form-check-label">
                    <input disabled type="radio" class="form-check-input" name="restaurante" id="restaurante" value="1" {% if bodega.restaurante == 1 %} checked {% endif %}>
                    Sí
                  </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input disabled type="radio" class="form-check-input" name="restaurante" id="restaurante2" value="0" {% if bodega.restaurante == 0 %} checked {% endif %}>
                    No
                  </label>
                </div>
              </fieldset>

              <fieldset class="form-group">
                <legend>¿Dispone de hotel?</legend>
                <div class="form-check">
                  <label class="form-check-label">
                    <input disabled type="radio" class="form-check-input" name="hotel" id="hotel" value="1" {% if bodega.hotel == 1 %} checked {% endif %}>
                    Sí
                  </label>
                </div>
                <div class="form-check">
                <label class="form-check-label">
                    <input disabled type="radio" class="form-check-input" name="hotel" id="hotel2" value="0" {% if bodega.hotel == 0 %} checked {% endif %}>
                    No
                  </label>
                </div>
              </fieldset>
              

              <button type="submit" class="btn btn-primary hide">Guardar</button>
            </form>
        </div> 
        <div class="col-6"> 
          <div class="d-flex justify-content-between">
              <div>
                  <h3>Vinos disponibles</h3>
              </div>
              <div>
                  <a href="index.php?controller=vino&action=nuevo&bodega={{bodega.id}}" class="btn btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Añadir vino</a>
              </div>
          </div>
          <hr/>
          <table class="table table-bordered grocery-crud-table table-hover">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for vino in vinos %}
              
              <tr>
                <td>
                  {{vino.nombre}}
                </td>
                <td>
                  {{vino.tipo}}
                </td>
                <td>
                  <a class="btn btn-outline-primary" href="index.php?controller=vino&action=detalle&id={{vino.id}}&bodega={{bodega.id}}"><i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Ver</a>
                  <a class="btn btn-outline-danger" href="index.php?controller=vino&action=borrar&id={{vino.id}}&bodega={{bodega.id}}"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Borrar</a> </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>  
        </div>  
    </div> 


{% endblock content %}